.dockerignore
.git*
**/.idea
**/.vscode
**/Dockerfile
docker-compose*
LICENSE
*.md
*.iml
.supabase
supabase/

# Flutter specific
**/.dart_tool
**/.pub
**/build/
**/.analysis-options
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages