version: '3'
services:
  app-selfhost:
    build:
      context: .
      args:
        FLUTTER_APP_FOLDER: app
        ENV: selfhost
    ports:
      - 8081:80
    networks:
      - studyu-net
    env_file:
      - flutter_common/lib/envs/.env.selfhost

  designer-selfhost:
    build:
      context: .
      args:
        FLUTTER_APP_FOLDER: designer
        ENV: selfhost
    ports:
      - 8080:80
    networks:
      - studyu-net
    env_file:
      - flutter_common/lib/envs/.env.selfhost
networks:
  studyu-net:
      name: studyu_network
