# This file must be renamed by removing the .example extension in order to be used by nginx

ssl_certificate /etc/ssl/private/cert.pem;
ssl_certificate_key /etc/ssl/private/key.pem;

# Force SSL (should not be necessary since http ports are not exposed if ssl is enabled in the proxy .env file)
#server {
#    listen 0.0.0.0:80 default_server;
#    listen [::]:80 default_server;
#
#    location / {
#      return 308 https://$host$request_uri/something;
#    }
#}