<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="health.studyu.app">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Needed to invoke an intent with that permission to ask the user to exempt the app -->
    <uses-permission android:name="android.permission.ACTION_IGNORE_BATTERY_OPTIMIZATION_SETTINGS"/>

    <!-- TODO Android will deny this by default unless the app's core functionality is affected -->
    <!--<uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>-->
</manifest>
