name: All packages

on:
  push:
    branches:
      - master
      - dev
      - release-staging
    paths:
      - "app/**"
      - "core/**"
      - "designer/**"
      - "flutter_common/**"
      - "notebook_uploader/**"
      - "repo_generator/**"
      - ".github/workflows/all_packages.yml"
  pull_request:
    paths:
      - "app/**"
      - "core/**"
      - "designer/**"
      - "flutter_common/**"
      - "notebook_uploader/**"
      - "repo_generator/**"
      - ".github/workflows/all_packages.yml"
  workflow_dispatch:

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: Install melos
        run: dart pub global activate melos
      - name: "Bootstrap Workspace"
        run: melos bootstrap
      - name: "Run Analyze"
        run: melos run analyze

  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: Install melos
        run: dart pub global activate melos
      - name: "Bootstrap Workspace"
        run: melos bootstrap
      - name: "Run Format"
        run: melos run format:ci

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: Install melos
        run: dart pub global activate melos
      - name: "Bootstrap Workspace"
        run: melos bootstrap
      - name: "Run Test"
        run: melos run test --no-select
