name: All packages

on:
  push:
    branches:
      - master
      - dev
    paths:
      - "app/**"
      - "core/**"
      - "designer/**"
      - "flutter_common/**"
      - "notebook_uploader/**"
      - "repo_generator/**"
      - ".github/workflows/all_packages.yml"
  pull_request:
    paths:
      - "app/**"
      - "core/**"
      - "designer/**"
      - "flutter_common/**"
      - "notebook_uploader/**"
      - "repo_generator/**"
      - ".github/workflows/all_packages.yml"
  workflow_dispatch:

jobs:
  analyze:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
        with:
          channel: beta
      - name: Install melos
        run: pub global activate melos
      - name: "Bootstrap Workspace"
        run: melos bootstrap
      - name: "Run Analyze"
        run: melos run analyze

  format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
        with:
          channel: beta
      - name: Install melos
        run: pub global activate melos
      - name: "Bootstrap Workspace"
        run: melos bootstrap
      - name: "Run Format"
        run: melos run format:ci

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
        with:
          channel: beta
      - name: Install melos
        run: pub global activate melos
      - name: "Bootstrap Workspace"
        run: melos bootstrap
      - name: "Run Test"
        run: melos run test --no-select

  build-web:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
        with:
          channel: beta
      - name: Enable web support
        run: flutter config --enable-web
      - name: Install melos
        run: pub global activate melos
      - name: "Bootstrap Workspace"
        run: melos bootstrap
      - name: "Build Web"
        run: melos run build:web --no-select
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_STUDYU_E37AF }}'
          channelId: live
          projectId: studyu-e37af
