name: Publish Repo Generator Docker image
on:
  workflow_dispatch:
  push:
    paths:
      - 'core/**'
      - 'repo_generator/**'
      - '.github/workflows/build-docker-generator.yml'
    branches:
      - main #noop
      # - master
      # - dev
  release:
    types: [published]

env:
  RUN_REGION: europe-west1
  SERVICE_NAME: studyu-project-generator

jobs:
  push_to_registry:
    name: Push Docker image to GitHub Packages
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
      packages: write
    steps:
      - uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to GHCR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      # Setup gcloud CLI
      - id: 'auth'
        uses: 'google-github-actions/auth@v1'
        with:
          workload_identity_provider: 'projects/86865527538/locations/global/workloadIdentityPools/wi-pool/attribute./hpi-studyu/studyu'
          service_account: 'studyu-service-account@studyu-e37af.iam.gserviceaccount.com'

      - name: Configure Docker
        run: |
          gcloud auth configure-docker
      - name: Push to GitHub and Google Registry
        uses: docker/build-push-action@v4
        with:
          file: repo_generator/Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ghcr.io/hpi-studyu/generator:${{ github.sha }},ghcr.io/hpi-studyu/generator:latest,gcr.io/${{ secrets.RUN_PROJECT }}/${{ env.SERVICE_NAME }}:latest
      - name: Deploy
        run: |
          gcloud run deploy "$SERVICE_NAME" \
          --region "$RUN_REGION" \
          --image gcr.io/${{ secrets.RUN_PROJECT }}/$SERVICE_NAME \
          --platform managed \
          --allow-unauthenticated \
          --project ${{ secrets.RUN_PROJECT }}
