name: Publish Docker image
on:
  workflow_dispatch:
  push:
    paths:
      - 'core/**'
      - 'generator/**'
      - '.github/**'
    branches:
      - master
      - dev
  release:
    types: [published]
jobs:
  push_to_registry:
    name: Push Docker image to GitHub Packages
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to GHCR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push to GitHub Packages
        uses: docker/build-push-action@v2
        with:
          file: generator/Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ghcr.io/hpi-studyu/notebook-uploader:${{ github.sha }}