name: Generate database docs

on:
  push:
    branches:
      - '**'
      - '!dev'
      - '!main'
    paths:
      - 'database/**'
      - 'docker/supabase/**'

concurrency:
  group: ${{ github.ref }}-db-docs
  cancel-in-progress: true


jobs:
  generate-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Generate documentation
        env:
          POSTGRES_PORT: 5432
          POSTGRES_PASSWORD: your-super-secret-and-long-postgres-password
          POSTGRES_DB: postgres
          DB_DOCS_DEST: ${{ github.workspace }}/docs/database
        run: |
          docker network create studyu_network || true
          docker compose -f docker/supabase/docker-compose-db.yml -f .github/docker/db-docs.yml up --abort-on-container-exit

      - name: Commit documentation
        run: |
          git config --global user.name "StudyU Documenter"
          git config --global user.email "studyu-documenter"
          git add --all
          git commit -m 'docs: update database documentation' || true
          git push
