name: Generate UML docs

on:
  push:
    branches:
      - '**'
      - '!dev'
      - '!master'
    paths:
      - 'flutter_common/**/*.dart'
      - 'core/**/*.dart'
      - 'designer_v2/**/*.dart'
      - 'app/**/*.dart'

jobs:
  generate-docs:
    runs-on: ubuntu-latest

    steps:
      - name: "Check out repo"
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: "Set up Flutter"
        uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: "Install melos"
        run: dart pub global activate melos
      - name: "Bootstrap Workspace"
        run: melos bootstrap
      - name: "Install dcdg"
        run: dart pub global activate dcdg

      - name: "Generate documentation"
        run: bash .github/scripts/generate-uml.bash
      - name: "Commit documentation"
        run: |
          git config --global user.name "StudyU Documenter"
          git config --global user.email "studyu-documenter"
          git add docs/uml
          git commit -m 'docs: update UML documentation' || true
          git push
